<div id="header"><!--header-->
    <div class="textcontainer"><!--textcontainer-->
        <div class="HLC"><!--leftcolumn50-->
            <img src="{{ asset('/bundles/ajmcmc/images/cmcLogo.png')}}" alt="CMC2 Event Registration">
        </div><!--leftcolumn50-->
        <div class="HRC"><!--rightcolumn50-->
            <img src="{{ asset('/bundles/ajmcmc/images/event.png')}}" alt="CMC2 Event Registration">
        </div><!--rightcolumn50-->
    </div><!--textcontainer-->
</div><!--header-->