
<div class="textcontainer">
    <h1>How to get to {{ whereByTo }}</h1>
{% if whereByTo  =='Magor' %}
<div class="map-container" xmlns="http://www.w3.org/1999/html">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d79313.89982311327!2d-2.78762940000001!3d51.5946386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487194ca7d17e643%3A0x8c3c0fb88973a30c!2sNP26!5e0!3m2!1sen!2suk!4v1405777479588" width="300" height="350"  style="border:0"></iframe>
</div>
    <h1>Address</h1>
<p> Community MC2 <br>
        Unit 102<br>
        Wales 1 Business Park<br>
        Magor<br>
        Monmouthshire<br>
        NP26 9AN</p>

{% else %}
<div class="map-container" xmlns="http://www.w3.org/1999/html">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9889.04525324243!2d-2.9183986946899334!3d51.709961613676995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4871c34ae94dd797%3A0xd448e43da48cb857!2sRhadyr%2C+Usk%2C+Monmouthshire+NP15+1XJ!5e0!3m2!1sen!2suk!4v1405777267383" width="300" height="350"  style="border:0"></iframe>
</div>
    <h1>Address</h1>
    <p> Monmouthshire County Council<br>
    County Hall<br>
    Rhadyr<br>
    Usk<br>
    Monmouthshire<br>
    NP15 1GA</p>
{% endif %}
    </div>











