{% extends '::base.html.twig' %}

{% block title %}
    Register for the CMC2 Open Event
{% endblock %}

{% block body %}

<div>This is stage 2 you wanted {{ HowMany }} people to attend our Meet and greet at {{ whereByTo }}</div>

{% endblock %}

